/* reset styles */
/* line 5, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
/* line 30, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 35, ../sass/reset.scss */
body {
  line-height: 1; }

/* line 39, ../sass/reset.scss */
ol, ul {
  list-style: none; }

/* line 43, ../sass/reset.scss */
blockquote, q {
  quotes: none; }

/* line 47, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 53, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 58, ../sass/reset.scss */
td {
  vertical-align: top; }

/* line 62, ../sass/reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* line 68, ../sass/reset.scss */
small {
  font-size: 85%; }

/* line 70, ../sass/reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 71, ../sass/reset.scss */
sup {
  top: -0.5em; }

/* line 72, ../sass/reset.scss */
sub {
  bottom: -0.25em; }

/* line 74, ../sass/reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin-left: 0;
  *width: 13px;
  *height: 13px; }

/* line 82, ../sass/reset.scss */
select {
  margin: 0; }

/* line 86, ../sass/reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 93, ../sass/reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 97, ../sass/reset.scss */
button, input {
  line-height: normal; }

/* line 101, ../sass/reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: default;
  -webkit-appearance: button;
  *overflow: visible; }

/* line 107, ../sass/reset.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 111, ../sass/reset.scss */
.clear {
  clear: both;
  height: 1px; }

/* line 116, ../sass/reset.scss */
.cl:after, .radio:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-size: 0; }

/* line 128, ../sass/reset.scss */
.cl {
  display: inline-block; }

/* line 132, ../sass/reset.scss */
.rel {
  position: relative; }

/* line 136, ../sass/reset.scss */
.fl {
  float: left; }

/* line 140, ../sass/reset.scss */
.ov {
  overflow: hidden; }

/* line 145, ../sass/reset.scss */
.side_left {
  float: left; }

/* line 149, ../sass/reset.scss */
.side_right {
  float: right; }

/* line 153, ../sass/reset.scss */
.inline {
  display: inline-block; }

/* line 157, ../sass/reset.scss */
html[xmlns] .cl, html[xmlns] .radio {
  display: block; }

/* line 161, ../sass/reset.scss */
* html .cl, * html .radio {
  height: 1%; }

/* line 165, ../sass/reset.scss */
.hidden {
  display: none; }

/* line 169, ../sass/reset.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
  -moz-box-sizing: content-box; }

/* line 175, ../sass/reset.scss */
a:active, a:focus, button:active, button:focus {
  outline: none; }

/* line 179, ../sass/reset.scss */
::-webkit-validation-bubble-message {
  display: none; }

@font-face {
  font-family: 'Firenight-Regular';
  src: url("../fonts/Firenight-Regular.eot");
  src: url("../fonts/Firenight-Regular.woff2") format("woff2"), url("../fonts/Firenight-Regular.woff") format("woff"), url("../fonts/Firenight-Regular.svg#Firenight-Regular") format("svg"), url("../fonts/Firenight-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
/* Webfont: OutofLineBB-Bold */
@font-face {
  font-family: 'OutofLineBB-bold';
  src: url("../fonts/OutofLineBB-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OutofLineBB-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OutofLineBB-Bold.woff") format("woff"), url("../fonts/OutofLineBB-Bold.ttf") format("truetype"), url("../fonts/OutofLineBB-Bold.svg#OutofLineBB-Bold") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility; }
/* Webfont: OutofLineBB-BoldItalic */
@font-face {
  font-family: 'OutofLineBB-italicBold';
  src: url("../fonts/OutofLineBB-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OutofLineBB-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OutofLineBB-BoldItalic.woff") format("woff"), url("../fonts/OutofLineBB-BoldItalic.ttf") format("truetype"), url("../fonts/OutofLineBB-BoldItalic.svg#OutofLineBB-BoldItalic") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility; }
/* Webfont: OutofLineBB-Italic */
@font-face {
  font-family: 'OutofLineBB-italic';
  src: url("../fonts/OutofLineBB-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OutofLineBB-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OutofLineBB-Italic.woff") format("woff"), url("../fonts/OutofLineBB-Italic.ttf") format("truetype"), url("../fonts/OutofLineBB-Italic.svg#OutofLineBB-Italic") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: OutofLineBB */
@font-face {
  font-family: 'OutofLineBB';
  src: url("../fonts/OutofLineBB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OutofLineBB.eot?#iefix") format("embedded-opentype"), url("../fonts/OutofLineBB.woff") format("woff"), url("../fonts/OutofLineBB.ttf") format("truetype"), url("../fonts/OutofLineBB.svg#OutofLineBB") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
.b-dropdown__box {
  position: relative;
  z-index: 5;
  margin-bottom: 1vw; }
  .b-dropdown__box.open {
    z-index: 6; }

.b-dropdown {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #111010;
  font-size: 1.40625vw;
  line-height: 2.96875vw;
  background: #fff;
  padding: 0 20px;
  border-radius: 1.484375vw;
  transform: rotate(-0.7deg); }
  .b-dropdown .b-dropdown__label {
    position: absolute;
    top: 18px;
    left: 0;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.2);
    transform-origin: left top;
    transition: transform .25s, top .25s; }
  .b-dropdown.shifted .b-dropdown__label {
    transform: scale(0.65);
    top: 0; }
  .b-dropdown .b-dropdown__arrow {
    position: absolute;
    right: 1.5626vw;
    top: 54%;
    transform: translate(0, -50%);
    width: 0.625vw;
    height: 0.547vw;
    background: url("../i/i-dropdown-arrow.svg") no-repeat;
    background-size: 100% auto;
    transition: transform .25s; }
  .b-dropdown.b-dropdown__scroll .b-dropdown__text {
    height: 2.96875vw; }
  .b-dropdown.b-dropdown__scroll .b-dropdown__sub {
    max-height: 260px;
    overflow-y: scroll;
    margin-top: 1px; }
    .b-dropdown.b-dropdown__scroll .b-dropdown__sub li:first-child {
      border-top: none; }
  .b-dropdown.b-dropdown_open {
    z-index: 5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .b-dropdown.b-dropdown_open .b-dropdown__arrow {
      transform: translate(0, -50%) rotate(180deg); }
    .b-dropdown.b-dropdown_open .b-dropdown__item.active {
      color: #FF4141; }
    .b-dropdown.b-dropdown_open .b-dropdown__text {
      color: #aba0a0; }
    .b-dropdown.b-dropdown_open.first-open .b-dropdown__sub {
      opacity: 1;
      visibility: visible;
      height: auto;
      margin-top: -2.96875vw; }
      .b-dropdown.b-dropdown_open.first-open .b-dropdown__sub .b-dropdown__item:first-child {
        border-top: none; }

.b-dropdown_open .b-dropdown__sub {
  opacity: 1;
  visibility: visible;
  height: auto; }

.b-dropdown__sub {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  max-height: 8.5vw;
  border-top: none;
  background: #fff;
  border-bottom-left-radius: 1.484375vw;
  border-bottom-right-radius: 1.484375vw;
  box-shadow: 0 25px 30px rgba(94, 84, 62, 0.5);
  padding-bottom: 1vw;
  margin-top: -1px; }

.b-dropdown__item,
.b-dropdown__text {
  display: block;
  background: transparent;
  color: #111010;
  transition: background .2s;
  cursor: pointer; }

.b-dropdown__item {
  padding: 0 1.5626vw;
  line-height: 1.875vw;
  transition: color .25s, background .25s; }
  .b-dropdown__item:hover {
    background: #d8171e;
    color: #fff; }
  .b-dropdown__item:first-child {
    border-top: none; }

.b-dropdown__text {
  border: none;
  height: 2.96875vw;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
  transition: color .25s, border-color .25s; }

.b-dropdown > .b-dropdown__text {
  overflow: hidden;
  padding-right: 18px;
  text-overflow: ellipsis; }

@keyframes hero1Move {
  0% {
    opacity: 1;
    transform: translate(-150%, 50%) scale(0.3); }
  40% {
    opacity: 1;
    transform: translate(25%, 0) scale(0.6); }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1); } }
@keyframes hero1Move_mob {
  0% {
    opacity: 1;
    transform: translate(150%, 0%) scale(0.3) rotateY(180deg); }
  40% {
    opacity: 1;
    transform: translate(-50%, 0) scale(0.6) rotateY(180deg); }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotateY(180deg); } }
@keyframes hero2Move {
  0% {
    opacity: 1;
    transform: translate(-150%, 50%) scale(1); }
  30% {
    opacity: 1;
    transform: translate(5%, 0) scale(1.1); }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1); } }
@keyframes hero3Move {
  0% {
    transform: translate(0, 30%); }
  100% {
    transform: translate(0, 0); } }
@keyframes hero4Move {
  0% {
    opacity: 0;
    transform: scale(0); }
  40% {
    opacity: 1;
    transform: scale(1.1); }
  60% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1;
    transform: scale(1.05); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes hero5Move {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes loaderLogo {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  50% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@keyframes dLogo {
  0% {
    transform: translate(-250%, -50%) rotate(-180deg); }
  100% {
    transform: translate(0, -50%) rotate(0deg); } }
@keyframes border {
  0% {
    box-shadow: 60px -60px 0 1px #fff, -60px -60px 0 1px #fff, -60px 60px 0 1px #fff, 60px 60px 0 1px #fff, 0 0 0 1px #fff; }
  25% {
    box-shadow: 0 -125px 0 1px #fff, -60px -60px 0 1px #fff, -60px 60px 0 1px #fff, 60px 60px 0 1px #fff, 0 0 0 1px #e39835; }
  50% {
    box-shadow: 0 -125px 0 1px #fff, -125px 0px 0 1px #fff, -60px 60px 0 1px #fff, 60px 60px 0 1px #fff, 0 0 0 1px #e39835; }
  75% {
    box-shadow: 0 -125px 0 1px #fff, -125px 0px 0 1px #fff, 0px 125px 0 1px #fff, 60px 60px 0 1px #fff, 0 0 0 1px #e39835; }
  100% {
    box-shadow: 0 -125px 0 1px #fff, -125px 0px 0 1px #fff, 0px 125px 0 1px #fff, 120px 40px 0 1px #fff, 0 0 0 1px #e39835; } }
.u-clear-fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html {
  height: 100%; }
  html.overflow {
    overflow: hidden;
    height: 100%; }

sup {
  font-size: 70%; }

body {
  position: relative;
  font-family: "OutofLineBB";
  font-size: 1.09375vw;
  line-height: 1.797vw;
  color: #111010;
  min-height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }
  body.overflow {
    overflow: hidden;
    min-height: 100%; }
  body.regular .b-section-top__hero {
    animation: 0 !important;
    opacity: 1;
    transform: none;
    transition: transform .1s linear; }
    body.regular .b-section-top__hero.b-section-top__hero_3 {
      transition: transform .15s linear !important; }
  body.transitions .b-section-top__hero.b-section-top__hero_1 {
    opacity: 0;
    transform: translate(-150%, 0) scale(0.3); }
  body.transitions .b-section-top__hero.b-section-top__hero_2 {
    opacity: 0;
    transform: translate(-100%, 50%) scale(1); }
  body.transitions .b-section-top__hero.b-section-top__hero_3 {
    transform: translate(30%, 0);
    opacity: 0; }
  body.transitions .b-section-top__hero.b-section-top__hero_4 {
    opacity: 0;
    transform: scale(0); }
  body.transitions .b-section-top__hero.b-section-top__hero_5 {
    opacity: 0;
    transform: scale(0); }
  body.show .b-loader {
    background: transparent;
    opacity: 0;
    visibility: hidden; }
  body.show .b-product-logo,
  body.show .b-burger {
    opacity: 1; }
  body.show .b-section-top__white {
    width: 0; }
  body.show .b-header__d-logo {
    animation: dLogo 1s ease 1 forwards;
    animation-delay: 3s; }
  body.show .b-section-top__bg {
    background-position: center 62%; }
  body.show .b-section-top__buildings div {
    background-position: center 22%; }
  body.show .b-section-top__sky {
    background-position: center 70%; }
  body.show .b-section-top__hero.b-section-top__hero_1 {
    animation: hero1Move 2s ease 1 forwards; }
  body.show .b-section-top__hero.b-section-top__hero_2 {
    animation: hero2Move 1s ease 1 forwards;
    animation-delay: .45s; }
  body.show .b-section-top__hero.b-section-top__hero_3 {
    animation: hero3Move 3s ease 1 forwards;
    animation-delay: 1s;
    opacity: 1;
    transition: opacity .75s 1s; }
  body.show .b-section-top__hero.b-section-top__hero_4 {
    animation: hero4Move .8s ease 1 forwards;
    animation-delay: 1.2s; }
  body.show .b-section-top__hero.b-section-top__hero_5 {
    animation: hero5Move .5s ease 1 forwards;
    animation-delay: .7s; }
  body.show .b-section-top__hero-cloud {
    opacity: 1; }

.hidden {
  display: none !important; }

a {
  text-decoration: none;
  transition: color .25s; }

.b-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #fff;
  transition: opacity .4s, visibility .4s 0s; }
  .b-loader.active .b-loader__line {
    animation: border .6s ease 1 forwards; }
  .b-loader.active .b-loader__logo {
    animation: loaderLogo .6s ease 1 forwards;
    animation-delay: .4s; }
  .b-loader .b-loader__line_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(0deg);
    z-index: 1; }
  .b-loader .b-loader__line {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg) rotate(-90deg);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 60px -60px 0 1px #fff, -60px -60px 0 1px #fff, -60px 60px 0 1px #fff, 60px 60px 0 1px #fff, 0 0 0 1px #fff; }
  .b-loader .b-loader__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 70px;
    height: 70px;
    background: url("../i/i-logo.svg") no-repeat;
    background-size: 100%;
    z-index: 2;
    transition: transform 0.45s; }

.b-header {
  position: relative;
  padding: 0 2.5%;
  height: 7.4vw;
  z-index: 10; }

.b-header__d-logo {
  position: absolute;
  left: 3.5%;
  top: 50%;
  transform: translate(-250%, -50%) rotate(-180deg);
  width: 3.9vw;
  height: 3.9vw;
  background: url("../i/i-logo.svg") no-repeat;
  background-size: 100%;
  backface-visibility: hidden; }

.b-product-logo {
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translate(-70%, 0);
  width: 24.4vw;
  height: 11.4vw;
  background: url("../i/product-logo.svg") no-repeat center;
  background-size: auto 100%;
  opacity: 0;
  transition: opacity 1s .5s; }

.b-burger {
  position: absolute;
  right: 2.5%;
  top: 0;
  width: 6.25vw;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s .5s; }
  .b-burger:hover:before {
    transform: translate(-50%, 0) scale(1.1); }
  .b-burger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 38%;
    height: 100%;
    transform: translate(-50%, 0);
    background: url("../i/i-burger.svg") no-repeat center;
    background-size: 100% auto;
    transition: transform .25s; }

.b-content {
  position: relative;
  padding: 0 2.5%; }

.b-section-top__white {
  position: absolute;
  background: #fff;
  z-index: 7;
  top: -7.4vw;
  right: -1%;
  width: 102%;
  bottom: 0;
  transition: width 1.2s;
  backface-visibility: hidden; }

.b-section-top {
  position: relative;
  height: 37.5vw; }
  .b-section-top .b-section-top__box {
    position: relative;
    height: 100%; }

.b-section-top__buildings {
  position: absolute;
  height: 100%;
  top: auto !important;
  left: 0;
  right: 0;
  bottom: 7.4vw;
  z-index: 2;
  overflow: hidden; }
  .b-section-top__buildings div {
    position: absolute !important;
    top: 0 !important;
    left: -5% !important;
    right: -5%;
    bottom: -5%;
    background: url("../i/city-buildings.png") no-repeat center 0%;
    background-size: 100% auto;
    transition: background-position 4s, transform .3s linear;
    backface-visibility: hidden; }

.b-section-top__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.b-section-top__hero-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6; }

.b-section-top__bg {
  position: absolute !important;
  top: 0 !important;
  left: -5% !important;
  right: -5%;
  bottom: -5%;
  background: url("../i/city.png") no-repeat center 40%;
  background-size: 100% auto;
  transition: background-position 4s, transform .3s linear;
  backface-visibility: hidden; }

.b-section-top__sky {
  position: absolute !important;
  top: 0 !important;
  left: -5% !important;
  right: -5%;
  bottom: -5%;
  background: url("../i/city-sky.png") no-repeat center 0;
  background-size: 100% auto;
  transition: background-position 2s 2s;
  backface-visibility: hidden; }

.b-section-top__hero-cloud {
  position: absolute;
  z-index: 5;
  font-size: 1vw;
  line-height: 1.71875vw;
  text-align: center;
  box-sizing: border-box;
  color: #111010;
  opacity: 0;
  transition: opacity .25s 2.5s;
  backface-visibility: hidden; }

.b-section-top__hero {
  position: absolute !important;
  z-index: 4;
  backface-visibility: hidden; }
  .b-section-top__hero.b-section-top__hero_click {
    cursor: pointer;
    transition: transform .15s;
    pointer-events: auto;
    backface-visibility: hidden; }
    .b-section-top__hero.b-section-top__hero_click:active {
      transform: scale(0.98) !important; }
  .b-section-top__hero.b-section-top__hero_1 {
    left: -2.4vw !important;
    top: -20% !important;
    width: 34.2vw;
    height: 26.8vw;
    background: url("../i/top-hero-1.svg") no-repeat center;
    background-size: 100% auto; }
  .b-section-top__hero.b-section-top__hero_2 {
    left: -1vw !important;
    top: auto !important;
    bottom: -3vw;
    width: 19.1vw;
    height: 17.1875vw;
    background: url("../i/top-hero-2.svg") no-repeat center;
    background-size: 100% auto; }
    .b-section-top__hero.b-section-top__hero_2 .b-section-top__hero-cloud {
      left: 90%;
      bottom: 45%;
      width: 12.1875vw;
      height: 11.71875vw;
      background: url("../i/top-hero-2_cloud.svg") no-repeat center;
      background-size: 100% auto;
      padding: 2.8vw 1vw 0 2vw;
      transition: opacity .25s 2.7s; }
      .b-section-top__hero.b-section-top__hero_2 .b-section-top__hero-cloud span {
        display: block;
        padding: 0.8vw 0 0;
        font-size: .91vw;
        margin: 0 -0.3vw 0 0; }
  .b-section-top__hero.b-section-top__hero_3 {
    left: 40% !important;
    top: auto !important;
    bottom: 27%;
    width: 3.72vw;
    height: 6.38vw;
    background: url("../i/top-hero-3.svg") no-repeat center 40%;
    background-size: 100% auto;
    pointer-events: auto;
    opacity: 0; }
    .b-section-top__hero.b-section-top__hero_3 .b-section-top__hero-cloud {
      right: 80%;
      bottom: 70%;
      width: 10vw;
      height: 8.36vw;
      background: url("../i/top-hero-3_cloud.svg") no-repeat center;
      background-size: 100% auto;
      padding: 4.3vw 3vw 0 .7vw;
      font-size: 0.55vw;
      line-height: 0.7vw;
      transition: opacity .25s 3.05s; }
  .b-section-top__hero.b-section-top__hero_4 {
    left: 45% !important;
    bottom: -16.5%;
    top: auto !important;
    width: 16.33vw;
    height: 22vw;
    background: url("../i/top-hero-4.svg") no-repeat center;
    background-size: 100% auto; }
    .b-section-top__hero.b-section-top__hero_4 .b-section-top__hero-cloud {
      left: 50%;
      transform: translate(-45%, 0);
      bottom: 105%;
      width: 18.4375vw;
      height: 13.86vw;
      background: url("../i/top-hero-4_cloud.svg") no-repeat center bottom;
      background-size: 100% auto;
      padding: 3.7vw 1vw 0 1vw;
      transition: opacity .25s 2s; }
  .b-section-top__hero.b-section-top__hero_5 {
    left: auto !important;
    top: auto !important;
    right: 3%;
    bottom: 2%;
    width: 9.8vw;
    height: 13vw;
    background: url("../i/top-hero-5.svg") no-repeat center;
    background-size: 100% auto; }
    .b-section-top__hero.b-section-top__hero_5 .b-section-top__hero-cloud {
      right: 53%;
      bottom: 80%;
      width: 12.58vw;
      height: 14.77vw;
      background: url("../i/top-hero-5_cloud.svg") no-repeat center bottom;
      background-size: 100% auto;
      padding: 2.3vw 1vw 0 1vw;
      transition: opacity .25s 2.35s; }

.b-video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(40, 38, 41, 0.95);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s .25s, visibility 0s .75s; }
  .b-video-overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s, visibility 0s, height 0s; }
    .b-video-overlay.open .b-video-wrapper {
      opacity: 1; }
  .b-video-overlay .b-video-wrapper {
    position: relative;
    top: 50%;
    width: 80%;
    margin: auto;
    transform: translate(0, -50%);
    padding-bottom: 42.8%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    box-shadow: 0 60px 100px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity .25s; }
  .b-video-overlay iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.b-video-wrapper__close {
  position: absolute;
  top: 18px;
  right: 40px;
  width: 4.6875vw;
  height: 4.6875vw;
  background: url("../i/i-popup-close.svg") no-repeat center;
  background-size: 2.65625vw auto;
  opacity: .65;
  transition: opacity .25s;
  z-index: 10; }
  .b-video-wrapper__close:hover {
    opacity: 1; }

.b-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(40, 38, 41, 0.95);
  z-index: 200;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s .25s, visibility 0s .75s; }
  .b-overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s, visibility 0s, height 0s; }
    .b-overlay.open .b-popup__hero-1 {
      transform: translate(0, 0) rotate(-9deg);
      transition: transform .75s .25s; }
      .b-overlay.open .b-popup__hero-1:after {
        opacity: 1; }
    .b-overlay.open .b-popup__hero-2 {
      transform: translate(0, 0);
      transition: transform .75s .25s; }
      .b-overlay.open .b-popup__hero-2:after {
        opacity: 1; }

.b-popup {
  position: relative;
  left: -0.78125vw;
  margin: 12.66vw auto 15vw;
  width: 78.5175vw;
  background: #fec02e;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0; }
  .b-popup .b-popup__border {
    position: absolute;
    left: 100%;
    top: -47px;
    height: 0;
    width: 0;
    border-top-right-radius: 5px;
    border-left: 1.5625vw solid #fec02e;
    border-bottom: 336px solid transparent; }
  .b-popup:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 0;
    width: 0;
    border-top-right-radius: 5px;
    border-left: 79vw solid transparent;
    border-bottom: 47px solid #fec02e; }
  .b-popup:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 78.5075vw solid transparent;
    border-top: 1.5625vw solid #fec02e; }
  .b-popup .b-video-wrapper__close {
    right: -15px;
    top: -3.67vw;
    margin-top: -60px; }

.b-popup__logo {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background: url("../i/product-logo.svg") no-repeat center top;
  background-size: 100% auto;
  width: 23.9vw;
  height: 11.875vw;
  margin-bottom: -1%; }

.b-popup__hero-1 {
  position: absolute;
  left: -11.5vw;
  top: -8vw;
  width: 22.1vw;
  height: 20.1875vw;
  transform: translate(-300%, 0) rotate(-9deg);
  z-index: 1;
  transition: transform .75s .75s; }
  .b-popup__hero-1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../i/top-hero-2.svg") no-repeat center;
    background-size: 100% auto;
    z-index: 2; }
  .b-popup__hero-1:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 30.3125vw;
    height: 31.40625vw;
    left: 0;
    top: 0;
    background: url("../i/popup-headhog-shadow.png") no-repeat;
    background-size: 100% auto;
    transform: rotate(9deg);
    opacity: 0;
    transition: opacity .25s 1.2s; }

.b-popup__hero-2 {
  position: absolute;
  right: -9.5vw;
  top: -11.8vw;
  width: 26.72vw;
  height: 26.1vw;
  z-index: 1;
  transform: translate(300%, 0);
  transition: transform .75s .75s; }
  .b-popup__hero-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../i/popup-hero-1.svg") no-repeat center;
    background-size: 100% auto;
    z-index: 2; }
  .b-popup__hero-2:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 35.15625vw;
    height: 35.15625vw;
    right: 0;
    top: 0;
    background: url("../i/popup-dack-shadow.png") no-repeat;
    background-size: 100% auto;
    opacity: 0;
    transition: opacity .25s .85s; }

.b-popup__tabs {
  position: relative;
  font-family: "Firenight-Regular";
  font-size: 2.65625vw;
  line-height: 2.65625vw;
  padding: 2vw 10vw 4vw;
  font-style: italic;
  transform: rotate(-2.7deg);
  font-weight: bold;
  letter-spacing: .05em;
  z-index: 4; }
  .b-popup__tabs .b-popup__tabs-item {
    float: left;
    vertical-align: top;
    margin-right: 3.9vw; }
  .b-popup__tabs .b-popup__tabs-link {
    color: #d8171e;
    display: block;
    position: relative;
    padding-bottom: .2vw; }
    .b-popup__tabs .b-popup__tabs-link:hover:before {
      opacity: 0; }
    .b-popup__tabs .b-popup__tabs-link span {
      padding-bottom: .3vw;
      background: url("../i/popup-tab-underline.svg") repeat-x left bottom; }
    .b-popup__tabs .b-popup__tabs-link.active {
      color: #111010; }
      .b-popup__tabs .b-popup__tabs-link.active span {
        background: transparent; }

.b-promo-form__success {
  position: relative;
  padding: 3vw 3.9vw 5vw 10vw; }

.b-promo-form {
  position: relative;
  padding: 0 3.9vw 2.35vw;
  z-index: 3; }
  .b-promo-form.error-show .b-promo-form__error {
    transform: translate(0, -50%) scale(1); }
  .b-promo-form.error-show .b-input__box .b-input.error {
    border-color: #d8171e;
    background: #ffcdb9; }
  .b-promo-form.error-show .b-checkbox__box .b-checkbox.error + .b-checkbox__label .b-checkbox__label-icon {
    background-image: url("../i/i-checkbox__error.svg"); }

.b-input__box {
  position: relative;
  padding-left: 8.6vw;
  margin-bottom: 1vw; }
  .b-input__box .b-input__label {
    position: absolute;
    left: 0;
    top: 0;
    width: 8.6vw;
    text-align: right;
    padding: 0 10px 0 0;
    line-height: 2.4vw;
    font-size: 1.09375vw; }
  .b-input__box .b-input {
    top: -.5vw;
    display: inline-block;
    vertical-align: top;
    border: 0.3125vw solid #fff;
    background: #fff;
    padding: 0 1.2501vw;
    width: 100%;
    height: auto;
    border-radius: 1.484375vw;
    font-family: "OutofLineBB";
    font-size: 1.09375vw;
    line-height: 2.34375vw;
    color: #111010;
    font-weight: normal;
    box-sizing: border-box;
    outline: none;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    transform: rotate(-0.7deg);
    transition: border-color .25s, background .25s; }

.b-promo-form__code {
  width: 66.666%;
  position: relative;
  padding-bottom: 1vw; }

.b-checkbox__box {
  position: relative;
  font-size: 1.09375vw;
  margin-left: 8.6vw; }
  .b-checkbox__box .b-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .b-checkbox__box .b-checkbox:checked + .b-checkbox__label .b-checkbox__label-icon:before {
      opacity: 1; }
  .b-checkbox__box .b-checkbox__label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    padding-left: 2.89vw;
    padding-top: .2vw; }
  .b-checkbox__box .b-checkbox__label-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.03125vw;
    height: 2.03125vw;
    background: url("../i/i-checkbox.svg") no-repeat center;
    background-size: 100% auto; }
    .b-checkbox__box .b-checkbox__label-icon:before {
      content: "";
      position: absolute;
      left: 52%;
      top: 51%;
      transform: translate(-50%, -50%);
      width: 1.5625vw;
      height: 1.33vw;
      background: url("../i/i-checkbox-checked.svg") no-repeat center;
      background-size: 100% auto;
      opacity: 0;
      transition: opacity .25s; }

.b-promo-form__error {
  position: absolute;
  left: 90%;
  top: 24%;
  transform: translate(0, -50%) scale(0);
  width: 26.40625vw;
  height: 11.17vw;
  background: url("../i/popup-error-bg.svg") no-repeat center;
  background-size: 100% auto;
  color: #fff;
  box-sizing: border-box;
  padding: 4vw 4.5vw 0 5.8vw;
  font-size: 1.09375vw;
  transition: transform .35s; }
  .b-promo-form__error.show {
    transform: translate(0, -50%) scale(1); }

.b-button__box {
  position: absolute;
  left: 50%;
  bottom: -5vw;
  transform: translate(-50%, 0);
  z-index: 3; }
  .b-button__box .b-popup__button {
    display: block;
    margin: auto;
    position: relative;
    width: 17.34375vw;
    height: 5.859375vw;
    border: none;
    outline: none;
    background: none;
    font-family: "Firenight-Regular";
    color: #fff;
    line-height: 5.859375vw;
    font-size: 2.578vw;
    font-weight: bold;
    letter-spacing: .05em;
    text-align: center;
    cursor: pointer; }
    .b-button__box .b-popup__button:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: url("../i/popup-button.svg") no-repeat center;
      background-size: 100% auto;
      transition: transform .35s;
      backface-visibility: hidden; }
    .b-button__box .b-popup__button:hover:before {
      transform: scale(1.03); }
    .b-button__box .b-popup__button span {
      display: inline-block;
      vertical-align: top;
      position: relative;
      z-index: 2;
      transform: rotate(-2.7deg); }

.b-column__box {
  position: relative; }
  .b-column__box.b-column__box_mb {
    padding-bottom: 1vw; }
  .b-column__box .b-column {
    float: left;
    vertical-align: top; }
    .b-column__box .b-column.b-column_x3 {
      width: 33.333%; }

.b-popup__tabs-box {
  position: relative;
  z-index: 3; }

.b-promo-code__info {
  position: relative;
  margin: 1vw 10vw 0;
  padding-bottom: 5vw;
  font-size: 1.40625vw;
  line-height: 2.1vw;
  width: 21vw;
  text-align: center; }
  .b-promo-code__info:before {
    content: "";
    position: absolute;
    left: 90%;
    top: -6vw;
    width: 46.64vw;
    height: 34.92vw;
    background: url("../i/promo-code-pics.png") no-repeat center;
    background-size: 100% auto; }
  .b-promo-code__info .b-promo-code_text {
    transform: rotate(-2.7deg); }

.b-promo-code__app {
  display: block;
  margin: 1.25vw auto 0;
  width: 13.98vw;
  height: 5.39vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto; }
  .b-promo-code__app.b-promo-code__app-store {
    background-image: url("../i/ico-appstore.svg"); }
  .b-promo-code__app.b-promo-code__gp {
    background-image: url("../i/ico-gplay.svg"); }

.b-section-map {
  position: relative;
  height: 35.15625vw;
  margin: 2.5% 0; }
  .b-section-map .b-section-map__wrapper {
    position: relative;
    height: 100%; }

.b-shops-choose {
  position: absolute;
  left: 4%;
  top: 8.98vw;
  width: 23.9vw;
  background: rgba(254, 192, 46, 0.93);
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0; }
  .b-shops-choose .b-shops-choose__wrapper {
    position: relative;
    padding: 3vw 3.125vw 2vw; }
  .b-shops-choose .b-shops-choose__border {
    position: absolute;
    left: 100%;
    top: -1.4vw;
    height: 0;
    width: 0;
    border-top-right-radius: 5px;
    border-left: 0.9vw solid rgba(254, 192, 46, 0.93);
    border-bottom: 200px solid transparent; }
  .b-shops-choose:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 0;
    width: 0;
    border-left: 23.9vw solid transparent;
    border-bottom: 1.4vw solid rgba(254, 192, 46, 0.93); }
  .b-shops-choose:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 23.9vw solid transparent;
    border-top: 0.9vw solid rgba(254, 192, 46, 0.93); }
  .b-shops-choose .b-input__box {
    padding-left: 0;
    margin-bottom: 0; }
    .b-shops-choose .b-input__box .b-input {
      top: 0;
      font-size: 1.40625vw; }

.b-shops-choose__title {
  font-size: 0;
  line-height: 0;
  width: 22.266vw;
  height: 8.28vw;
  background: url("../i/map-title.png") no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 52%;
  transform: translate(-50%, 0);
  bottom: 100%;
  margin-bottom: -1.5vw; }

.b-tooltip-init {
  background: rgba(254, 192, 46, 0.93);
  width: 20vw;
  padding: 2vw 1.5vw;
  box-sizing: border-box;
  font-size: 1.40625vw;
  line-height: 1.875vw;
  border-radius: 5px;
  top: auto !important;
  bottom: 100%;
  margin-bottom: 1vw;
  left: 50%;
  transform: translate(-50%, 0); }
  .b-tooltip-init:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom: 1vw solid transparent;
    border-left: 1vw solid rgba(254, 192, 46, 0.93);
    margin-left: .5vw; }
  .b-tooltip-init:after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom: 1vw solid transparent;
    border-right: 1vw solid rgba(254, 192, 46, 0.93);
    margin-left: -.5vw; }
  .b-tooltip-init .close {
    position: absolute;
    right: 0;
    top: 0;
    color: #111010;
    font-size: 3vw;
    line-height: 3vw;
    height: 3vw;
    width: 3vw;
    text-align: center;
    transition: color .25s; }
    .b-tooltip-init .close:hover {
      color: #d8171e; }
    .b-tooltip-init .close ymaps {
      width: auto !important; }
  .b-tooltip-init span {
    display: block;
    opacity: .65;
    font-size: 1.09375vw; }
  .b-tooltip-init p {
    margin-bottom: 1vw;
    max-width: 17vw; }
    .b-tooltip-init p:last-child {
      margin-bottom: 0; }

.b-input__box_autocomplete {
  transform: rotate(-0.7deg);
  transition: border-color .25s, background .25s, opacity .25s;
  z-index: 2; }
  .b-input__box_autocomplete.disabled:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: transparent; }
  .b-input__box_autocomplete.disabled .b-input {
    opacity: .65; }
  .b-input__box_autocomplete .b-input {
    transform: none; }
  .b-input__box_autocomplete.open .b-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .b-input__box_autocomplete .ui-widget.ui-widget-content {
    border: none; }
  .b-input__box_autocomplete .ui-widget-content {
    width: 100% !important;
    top: 100% !important;
    left: 0 !important;
    color: #111010;
    font-family: "OutofLineBB";
    font-size: 1.40625vw;
    line-height: 1.875vw;
    border-radius: 1.484375vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 25px 30px rgba(94, 84, 62, 0.5);
    overflow: hidden; }
  .b-input__box_autocomplete .ui-menu .ui-menu-item-wrapper {
    padding: 0.8vw 1.5626vw;
    transition: color .25s, background .25s; }
    .b-input__box_autocomplete .ui-menu .ui-menu-item-wrapper.ui-state-active {
      border: none;
      background: #d8171e;
      margin: 0; }

.b-input::-webkit-input-placeholder {
  color: rgba(41, 39, 39, 0.5);
  font-family: "OutofLineBB";
  line-height: 1.975vw; }

.b-input:-moz-placeholder {
  color: rgba(41, 39, 39, 0.5);
  font-family: "OutofLineBB";
  line-height: 1.975vw; }

.b-input::-moz-placeholder {
  color: rgba(41, 39, 39, 0.5);
  font-family: "OutofLineBB";
  line-height: 1.975vw; }

.b-input:-ms-input-placeholder {
  color: rgba(41, 39, 39, 0.5);
  font-family: "OutofLineBB";
  line-height: 1.975vw; }

.b-shops-choose .b-input::-webkit-input-placeholder {
  color: #aba0a0;
  font-family: "OutofLineBB";
  line-height: 1.975vw; }

.b-shops-choose .b-input:-moz-placeholder {
  color: #aba0a0;
  font-family: "OutofLineBB";
  line-height: 1.975vw; }

.b-shops-choose .b-input::-moz-placeholder {
  color: #aba0a0;
  font-family: "OutofLineBB";
  line-height: 1.975vw; }

.b-shops-choose .b-input:-ms-input-placeholder {
  color: #aba0a0;
  font-family: "OutofLineBB";
  line-height: 1.975vw; }

@media screen and (max-width: 900px) {
  .b-popup__logo {
    margin-bottom: 0.5%; } }
@media screen and (max-width: 767px) {
  html.overflow {
    overflow: hidden;
    height: 100%; }

  body {
    font-size: 3.73vw;
    line-height: 6.4vw; }
    body.regular .b-section-top__hero.b-section-top__hero_1 {
      transform: rotateY(180deg); }
    body.show .b-section-top__bg {
      background-position: 90% 65.5%; }
    body.show .b-section-top__buildings div {
      background-position: 90% 38%; }
    body.show .b-section-top__hero.b-section-top__hero_1 {
      animation: hero1Move_mob 2s ease 1 forwards;
      animation-delay: .6s; }
    body.transitions .b-section-top__hero.b-section-top__hero_1 {
      transform: translate(150%, 0) scale(0.3) rotateY(180deg) !important; }

  .b-header {
    height: 35.64vw;
    padding: 0 4%; }

  .b-section-top__white {
    top: -35.64vw; }

  .b-content {
    padding: 0 4%; }

  .b-header__d-logo {
    left: 5%;
    width: 10.64vw;
    height: 10.64vw; }

  .b-product-logo {
    background: url("../i/product-logo-m.svg") no-repeat center;
    transform: translate(-50%, 0);
    width: 32.7vw;
    height: 21.8vw;
    top: 3.2vw; }

  .b-burger {
    width: 16vw; }
    .b-burger:before {
      width: 50%; }
    .b-burger:hover:before {
      transform: translate(-50%, 0) scale(1); }

  .b-section-top {
    height: 78.46vw; }

  .b-section-top__sky {
    top: 0;
    left: 0 !important;
    right: 0;
    bottom: 0;
    background-size: 205% auto; }

  .b-section-top__bg {
    top: 0;
    left: 0 !important;
    right: 0;
    bottom: 0;
    background-position: 90% 40%;
    background-size: 205% auto; }

  .b-section-top__buildings {
    bottom: 10.5vw; }
    .b-section-top__buildings div {
      top: 0;
      left: 0 !important;
      right: 0;
      bottom: 0;
      background-position: 90% 11%;
      background-size: 205% auto; }

  .b-section-top__hero-cloud {
    font-size: 2.66vw;
    line-height: 4.52vw; }

  .b-section-top__hero.b-section-top__hero_1 {
    width: 29.25vw;
    height: 23vw;
    left: auto !important;
    right: -4%;
    top: -12% !important; }
  .b-section-top__hero.b-section-top__hero_2 {
    width: 31.12vw;
    height: 27.93vw;
    left: -6% !important;
    bottom: 8%; }
    .b-section-top__hero.b-section-top__hero_2 .b-section-top__hero-cloud {
      display: none; }
  .b-section-top__hero.b-section-top__hero_3 {
    background: none;
    width: 31.12vw;
    height: 27.93vw;
    left: -6% !important;
    bottom: 8%; }
    .b-section-top__hero.b-section-top__hero_3 .b-section-top__hero-cloud {
      background-image: url("../i/top-hero-3_cloud_mob.svg");
      width: 24.2vw;
      height: 26.4vw;
      right: auto;
      left: 25%;
      bottom: 105%;
      font-size: 1.85vw;
      line-height: 2.4vw;
      padding: 8vw 2vw 0; }
  .b-section-top__hero.b-section-top__hero_4 {
    width: 36.64vw;
    height: 47.87vw;
    background: url("../i/top-hero-4_flip.svg") no-repeat center;
    left: 31% !important; }
    .b-section-top__hero.b-section-top__hero_4 .b-section-top__hero-cloud {
      width: 45.16vw;
      height: 33.26vw;
      padding-top: 7.7vw;
      bottom: 105%;
      left: 54%; }
  .b-section-top__hero.b-section-top__hero_5 {
    right: -4%;
    bottom: 4%;
    width: 17.55vw;
    height: 23vw; }
    .b-section-top__hero.b-section-top__hero_5 .b-section-top__hero-cloud {
      width: 19.95vw;
      height: 22.34vw;
      font-size: 1.85vw;
      line-height: 2.4vw;
      padding-top: 2.5vw;
      right: 40%;
      bottom: 93%; }

  .b-popup {
    width: 95.8vw;
    margin: 38.4vw auto 40vw;
    left: 0; }
    .b-popup:before {
      border-left-width: 95.8vw;
      border-bottom-width: 5.3vw; }
    .b-popup:after {
      border-right-width: 95.8vw;
      border-top-width: 5.86vw; }
    .b-popup .b-popup__border {
      display: none; }
    .b-popup .b-video-wrapper__close {
      right: 2vw;
      width: 6.72vw;
      height: 6.72vw;
      background-size: 100% auto;
      margin-top: -10.5vw;
      opacity: .65 !important; }

  .b-popup__logo {
    width: 81.86vw;
    height: 40.53vw;
    margin-bottom: -5vw; }

  .b-popup__hero-1 {
    width: 60vw;
    height: 54vw;
    z-index: 4;
    left: -33vw;
    top: -2.5vw; }
    .b-popup__hero-1:after {
      display: none; }

  .b-popup__hero-2 {
    display: none; }

  .b-popup__tabs {
    font-size: 5.3vw;
    line-height: 8vw;
    padding: 11vw 7vw 15vw 26vw; }
    .b-popup__tabs .b-popup__tabs-item {
      width: 52%;
      margin-right: 0; }
      .b-popup__tabs .b-popup__tabs-item:first-child {
        margin-right: 6%;
        width: 42%; }
    .b-popup__tabs .b-popup__tabs-link span {
      padding-bottom: .7vw; }

  .b-promo-form__code {
    width: 100%;
    padding-bottom: 0; }

  .b-column__box.b-column__box_mb {
    padding-bottom: 0; }
  .b-column__box .b-column.b-column_x3 {
    width: 100%; }

  .b-popup__tabs-box {
    z-index: 5; }

  .b-promo-form__success {
    padding: 0 10.6vw 10vw; }

  .b-promo-form {
    padding: 0 10.6vw 17vw; }
    .b-promo-form.error-show .b-promo-form__error {
      transform: translate(-50%, 0) scale(1); }

  .b-input__box {
    margin-bottom: 6.13vw;
    padding-left: 0; }
    .b-input__box .b-input__label {
      display: block;
      position: relative;
      font-size: 3.73vw;
      line-height: 6.4vw;
      padding: 0;
      width: 100%;
      text-align: left; }
    .b-input__box .b-input {
      top: 0;
      margin-top: -.7vw;
      margin-left: -2%;
      width: 104%;
      padding: 0 4.53vw;
      font-size: 3.73vw;
      line-height: 9.33vw;
      border-radius: 6vw;
      border-width: .8vw; }

  .b-checkbox__box {
    padding-top: 3vw;
    margin-left: 0;
    font-size: 3.73vw;
    line-height: 5.86vw; }
    .b-checkbox__box .b-checkbox__label {
      padding-left: 9.86vw; }
    .b-checkbox__box .b-checkbox__label-icon {
      width: 6.93vw;
      height: 6.93vw;
      top: -1vw; }
      .b-checkbox__box .b-checkbox__label-icon:before {
        width: 5.3vw;
        height: 4.48vw; }

  .b-button__box {
    bottom: -15vw; }
    .b-button__box .b-popup__button {
      font-size: 8.8vw;
      height: 20vw;
      width: 59.2vw;
      line-height: 20vw; }

  .b-promo-form__error {
    transform: translate(-50%, 0) scale(0);
    background: url("../i/popup-error-bg_mob.svg") no-repeat center;
    width: 83.73vw;
    height: 40.8vw;
    left: 50%;
    top: auto;
    bottom: 70%;
    padding: 11.5vw 15vw 0;
    font-size: 3.29vw;
    line-height: 6.4vw; }

  .b-promo-code__info {
    margin: 0 10vw 10vw;
    width: auto;
    font-size: 4.8vw;
    line-height: 7.2vw; }
    .b-promo-code__info .b-promo-code_text {
      padding-bottom: 73vw; }
    .b-promo-code__info:before {
      background-image: url("../i/promo-code-pics__mob.png");
      width: 100vw;
      height: 73vw;
      left: 50%;
      transform: translate(-50%, 0);
      top: auto;
      bottom: 42.8vw; }

  .b-promo-code__app {
    width: 47.73vw;
    height: 18.4vw;
    margin-top: 3vw; }

  .b-input::-webkit-input-placeholder {
    color: rgba(41, 39, 39, 0.5);
    font-family: "OutofLineBB";
    line-height: 10vw; }

  .b-input:-moz-placeholder {
    color: rgba(41, 39, 39, 0.5);
    font-family: "OutofLineBB";
    line-height: 10vw; }

  .b-input::-moz-placeholder {
    color: rgba(41, 39, 39, 0.5);
    font-family: "OutofLineBB";
    line-height: 10vw; }

  .b-input:-ms-input-placeholder {
    color: rgba(41, 39, 39, 0.5);
    font-family: "OutofLineBB";
    line-height: 10vw; } }

/*# sourceMappingURL=common.css.map */
