@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
  url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnimeAcev05';
  src: url('../fonts/anime-ace-v05.eot');
  src: url('../fonts/anime-ace-v05.woff2') format('woff2'),
  url('../fonts/AnimeAcev05.woff') format('woff'),
  url('../fonts/AnimeAcev05.svg#AnimeAcev05') format('svg'),
  url('../fonts/anime-ace-v05.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalStripCyrillic';
  src: url('../fonts/DigitalStripCyrillic.eot');
  src: url('../fonts/DigitalStripCyrillic.woff2') format('woff2'),
  url('../fonts/DigitalStripCyrillic.woff') format('woff'),
  url('../fonts/DigitalStripCyrillic.svg#DigitalStripCyrillic') format('svg'),
  url('../fonts/DigitalStripCyrillic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

